.form {
    margin-left: 160px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-top: 50px;
  }




h4 {

    color: #747495;
}

h3{

    color: #747495;

}




.div_registration{

    border-style:double;
    border-color: rgb(1, 8, 8);
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;

}

label {
    color:aliceblue
}

input {
    border-radius: 10px;
    height: 20px;
    width: 200px;
}

button{
    padding: 0;
    margin-top: 0;
    margin-bottom:0;
    height: 20px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #747495; /* Лавандовый */
    transition: background-color  0.4s ease-in-out;


}

button:hover {
    background-color: #a799a1; /* Ярко-розовый при наведении курсора */
  }

button:active {
transform: translateY(1px); /* Подпрыгивание на 2 пикселя при клике */
}

.enter_label{
    margin-bottom: 20px;
    color: #747495;
}